.badges-container{
    padding: 20px;
    display: flex;
}

.badges-container section{
    width:360px;
    height:280px;
    border:1px solid lightgrey;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding: 14px;
    flex-grow: 1;
}

.badge-img{
width:100px;
height:100px;
margin-bottom: 5px;;
}

.badges-count{
    margin-left: 10px;
    justify-content: space-between;
    padding: 10px 0px;
}
.tag{
    width:100%;
    padding:6px 10px;
    background-color:black;
    color:rgb(237, 232, 232);
    margin:12px 0px;
    border: 0.4px solid rgb(238, 232, 232);
    border-radius: 8px;
}