.left_sidebar{
    width:164px;
    box-shadow: 1px 1px 0 rgba(0 0 0 0.2 );
    z-index: 0;
    background-color: #f8f9f9;
    height: auto;
    min-height: 100vh;
    transition: box-shadow ease-in-out 0.1s, transform ease-in-out 0.1s;
    font-size: 13px;
}
.side_nav{
    height: auto;
    max-width: 100%;
    margin: 50px 0px;
    padding: 20px 0px ;
    position:sticky;
   
}
.side_nav_div{
   
        padding: 10px 0px;      
}
.side_nav_links {
    text-decoration: none;
    color: #3a3a3a;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: 0.2s;
    padding: 15px;
    
  }
  
  .side_nav_links:hover {
    color: black;
  }
  
  .active {
    font-weight: bolder;
    color: black;
    background-color: rgb(225, 225, 225);
    border-right: solid 3px #ef8236;
  }
  